<ion-list>
	<ion-item
			class="item-remove-animate item-icon-right"
			ng-repeat="action in vm.actions track by action._id | filter: vm.searchText"
			type="item-text-wrap"
			ng-click="vm.selectAction(action)"
			>
		<section class="urgency-n-priority">
			<i
					ng-class="::vm.getPriorityClass(action)"
					class="priority"></i>
			<i
					ng-class="::vm.getUrgencyClass(action)"
					class="urgency fa fa-lg"></i>
		</section>
		<h2>{{::action.phrase}}</h2>
		<section
				ng-if="::action.categoryIds.length"
				class="fa fa-folder-open-o">:
			<i
					ng-repeat="categoryId in ::action.categoryIds"
					ng-class="::vm.priority.getClass(categoryId)"
					></i>
		</section>
		<section
				ng-if="::action.motivationIds.length"
				class="fa fa-dot-circle-o">:
			<i
					ng-repeat="motivationId in ::action.motivationIds"
					ng-class="::vm.impact.getClass(motivationId)"
					></i>
		</section>
		<!-- FIXME: do one-time binding via array size manipulation at sort -->
				<span class="sorted-property"
				      ng-bind-html="vm.sorter.getSortedProperty(action)"
						></span>

		<i class="icon ion-chevron-right icon-accessory"></i>

		<ion-option-button
				class="button-assertive"
				ng-click="vm.editAction(action)"
				ng-if="vm.actionIsNotDone(action)"
				>
			Edit Action
		</ion-option-button>
	</ion-item>
</ion-list>